[submodule "references/PyFlyt"]
	path = references/PyFlyt
	url = https://github.com/jjshoots/PyFlyt.git
[submodule "references/cleanrl"]
	path = references/cleanrl
	url = https://github.com/vwxyzjn/cleanrl.git
